
PreFileInfoCSS {
	position: relative;
	top: -7px;
	right: -5px;
}
.PreFileNameCSS {
	position: relative;
	bottom: 6px;
	font-size: 10pt;
	color: #87CEFA;
}.FileNameCSS {
    font-size: 12pt;
	color: #87CEFA;
}
.Info{
	font-size: 14pt;
}
.textBorder {
	display: inline-block;
    border: 2px solid #808080;
    padding: 10px;
	background: #f0f0f0;
	border-radius: 6px;
	white-space: pre-wrap;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn {
	background-color: #016401;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border: none;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	padding: 10px 20px;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	font-size: 14px;
	margin: 0;
	height: 40px;
	}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
	
}
.input-file-btn:hover {
	background-color: #078f07;
	color: white;
} 
.input-file-kotik input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.Raspis {
	background-color: #ffb100ff;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px 20px;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 20px;
	height: 40px;
	width: 300px;
	margin-left: 30px;
	font-weight: bold;
}

.Raspis:Hover{
	background-color:  rgb(173, 121, 0);
	color: white;
}
.Raspis1 {
	background-color: #ffb100ff;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px 20px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 20px;
	height: 40px;
	width: 240px;
	margin-left: 30px;
	font-weight: bold;
}


/*Кастомка выводимой таблицы | Cat Customer*/

/****************************
td  {
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
  }
th {
	font-weight: bold;
	padding: 5px;
	background: #cccccc;
	border: 1px solid #dddddd;
  }
table {
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
  }
  tbody tr:nth-child(odd){
	background: #fff;
  }
  tbody tr:nth-child(even){
	background: #bbbbbb;
}
****************************************/
